
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

</head>
<body>
    <div th:fragment="handle(formField)" class="image">
        <!--/*@thymesVar id="formField" type="com.zbwb.mengxi.common.domain.FormField"*/-->
        <input type="hidden" th:name="${formField.path}+'.uri'" />
        <div th:id="${formField.path}+'List'" class="uploader-list"></div>
        <div th:id="${formField.path}+'ImagePicker'"></div>
    </div>

    <div th:fragment="script">
        <script src="/assets/webuploader-0.1.5/webuploader.js"></script>
        <script src="/uploader.js"></script>
        <script>
            var $image = $('.image');
            for (var i = 0; i < $image.length; i++) {
                var imagePath = $($image[i]).find('input');
                var container = $($image[i]).find('div:nth-child(2)');
                var pickerId = $($image[i]).find('div:nth-child(3)').attr('id');
                createUploader('#' + pickerId, container, function (path) {
                    imagePath.val(path);
                })
            }
        </script>
    </div>
</body>