<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">

</head>
<body>
<div th:fragment="handle(formField)">
    <div class="modal fade" id="model_content" tabindex="-1" role="dialog" data-backdrop="false"
         aria-labelledby="model_contentLabel" aria-hidden="true">
        <div class="modal-dialog w80">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="model_contentLabel">地图标点</h4>
                </div>
                <div class="modal-body">
                    <div class="map" id="map" style="height:400px;border:#ccc solid 1px;font-size:12px"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary customcap">确定</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 image">
        <!--/*@thymesVar id="formField" type="com.zbwb.mengxi.common.domain.FormField"*/-->
        <input id="longitude" th:name="${formField.path}+'.longitude'" type="hidden"/>
        <input id="latitude" th:name="${formField.path}+'.latitude'" name="latitude" type="hidden"/>
    </div>
    <button type="button" id="modelContent" class="btn btn-primary btn-lg" data-toggle="modal">地图标点</button>

</div>
<div th:fragment="script">

    <script src="http://webapi.amap.com/maps?v=1.4.6&key=adec7457367be81aac48b7c139dde100"></script>
    <!-- UI组件库 1.0 -->
    <script src="http://webapi.amap.com/ui/1.0/main.js?v=1.0.11"></script>
    <script src="/assets/global/scripts/main.js"></script>
    <script>
        var customMap;
        $("#modelContent").click(function () {
            var position = $("#position").val();
            var longitude = $("#longitude").val();
            var latitude = $("#latitude").val();
            customMap = new CustomMap({
                longitude: longitude,
                latitude: latitude,
                position: position
            });
            customMap.editPoint();
            $("#model_content").modal('show');
        });


        $(".customcap").click(function () {
            $("#model_content").modal('hide');
            if (customMap.current_lng != "") {
                $("#longitude").val(customMap.current_lng);
            }
            if (customMap.current_lat != "") {
                $("#latitude").val(customMap.current_lat);
            }
        });
    </script>
</div>

</body>