<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <!--/*@thymesVar id="formField" type="com.zbwb.mengxi.common.domain.FormField"*/-->
</head>
<body>

    <div th:fragment="alert(message)">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <span th:text="${message}">Test</span>
    </div>




    <div th:fragment="text (formField)">
        <!--/*@thymesVar id="formField" type="com.zbwb.mengxi.common.domain.FormField"*/-->
        <input th:id="${formField.path}"
               th:name="${formField.path}"
               th:value="${formField.value}"
               class="form-control"/>
    </div>


</body>
</html>