<!--[if IE 8]>
<html class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head>
    <title>蒙西管理平台</title>
    <meta name="decorator" content="frame"/>
    <link href="/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/layout/css/layout.min.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/layout/css/themes/default.min.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/layout/css/custom.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="page-header navbar navbar-fixed-top">
    <div class="page-header-inner ">
        <div class="page-logo">
            <a href="/common/index" class="logo-default" onclick="$('#default-page').trigger('click');"
               target="mainFrame" style="color:#fff;">
                <img src="/assets/layout/img/newlogo.png" alt="">

            </a>

        </div>
        <!-- END LOGO -->
        <div class="shortcut"></div>
        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">
                <li class="dropdown dropdown-user  dropdown-dark">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                       data-close-others="true">
                        <img alt="" class="img-circle" src="/assets/layout/img/avatard.png"/>
                        <span class="username username-hide-on-mobile">
                            <span shiro:principal="" property="name"></span>
                            <i class="fa fa-angle-down"></i>
                        </span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-default">
                        <li>
                            <a href="${ctx }/sys/user/info" target="mainFrame"> <i class="icon-user"></i> 个人信息 </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="${ctx }/sys/user/modifyPwd" target="mainFrame"> <i class="icon-lock"></i> 修改密码 </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="${ctx}/logout"> <i class="icon-key"></i> 退出 </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown dropdown-user  dropdown-dark">
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="page-container">
    <div class="page-sidebar-wrapper fixed-content" style="margin-top: 70px;">
        <div class="page-sidebar navbar-collapse collapse" >




            <ul class="page-sidebar-menu page-header-fixed "
                th:include="this::row(${menus}, ${1})"
                data-keep-expanded="false" data-auto-scroll="true"
                data-slide-speed="200" style="padding-top: 20px">
                <!--/*@thymesVar id="menus" type="java.util.List<com.zbwb.mengxi.common.domain.Menu>"*/-->
                <th:block th:fragment="row(menus,lv)">
                    <th:block th:each="menu : ${menus}">
                        <li class="nav-item">
                            <a th:href="@{/private/{modelName}(modelName=${menu.getModelName()})}"
                               class="nav-link menu" th:style="|padding-left:${60+15*lv}px|" th:text="${menu.name}">链接</a>
                        </li>
                        <th:block th:if="${menu.hasChildren()}" th:include="this::row(${menu.children},${lv+1})"/>
                    </th:block>
                </th:block>
            </ul>
        </div>
    </div>
    <div class="page-content-wrapper" style="margin-top: 70px;">
        <div class="page-content">
            <iframe id="mainFrame" name="mainFrame" style="overflow:visible;" scrolling="no"
                    frameborder="no" width="100%" height="100%"></iframe>
        </div>
    </div>
</div>
<script src="http://libs.baidu.com/jquery/1.8.0/jquery.min.js"></script>
<script>
    $('.menu').click(function (e) {
        e.preventDefault();
        $('#mainFrame').attr('src', $(this).attr('href'));
    });
</script>
</body>
</html>
